*{border-radius: 10px; font-family: "Cambria"; font-size: 13pt;}
            
.marginalized{margin-left: 3%; margin-top: 10%; width:100%;}
tr{width:inherit;}
td{width:auto;}

body{margin:0;}


.listView{display:table; background-color: #DDD; padding:3px; position:absolute;  border-style: groove; border-width:thin; margin-top: 5%; margin-left: 5%; }
.listViewItem{display:table-row table-cell; margin: 10px;}
.bar{border-bottom: 1px solid #BBB; border-radius: 0px;}

.listContentContainer{display: table; width:500px; margin: auto; background-color: #CDF; border-style: outset; border-width:thin; padding:10px; padding-right:20px; margin-top:10%;}
.listTitle{font-size: 16pt; font-weight:bold; border-style:none;}
.listContent{display: table; padding-left: 20px; }
.listContainer{width:100%;}

.elementContainer{display:table table-row; width:100%; background-color: #F2F2FF; margin-top:3px; padding: 0 3px 0 3px;}
.elementValue{display: table-cell; width:inherit;}
.elementCheck{display: table-cell; padding-left:4px;}
.elementDate{display:table-cell; text-align:right; color:#888; padding-right: 4px;}
.elementPriority{display:table-cell; padding-right: 4px; color: #E30; text-shadow:-1px 0px #000; font-size: 14pt; text-align: left;}

.spacer{width:inherit; padding: 4px;}